@page
@model AllProductsModel
@{
    ViewData["Title"] = "Home page";
}

<form method="get" >
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" value="" name="searchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </span>
            </input>
            </div>         
        </div>
    </div>
   </form>
   <div class="container-fluid">
   <form asp-for="/AllProducts" asp-page-handler="Sort" >
      <select name="sortTerm" id="sortTerm" onchange="this.form.submit()">
          <option>Sort by</option>
          <option value="low">Lowest price</option>
          <option value="high">Highest price</option>
      </select>
   </form>
                   
@*<div class="container-fluid">*@
<div class="card-deck">
    @foreach (var products in Model.Products)
    {
        <div class="row">

            <div class="col">
                <div class="card" style="max-width: 18rem; max-height: 45vh;">
                    <img src="@products.Image" class="card-img-top" style="max-height:20vh" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@products.ProductName</h5>
                        <p class="card-text">@products.ProductDescription </p>
                        <h5 class="card-title">Pris: @products.CurrentPrice kr</h5>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                        @*<a asp-page="./List" class="btn btn-primary">All Books</a>*@
                    </div>
                </div>
                <br>
            </div>
            <br>
        </div>
    }
</div>
</div>